import(stats,graphics)
import(spatstat.utils,spatstat.sparse,spatstat.geom,spatstat.explore)
import(spatstat)

# Export all names unless they start with a dot
exportPattern("^[^.]")

# Methods 
S3method("as.im", "SpatRaster")
S3method("as.ppp", "sf")
